@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins&display=swap');
html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin:0;
    padding: 0; 
}
    
body{
    min-height: 100vh;
    background: linear-gradient(rgb(0, 0, 0),rgb(94, 94, 92));
    
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: goldenrod;
}

/* navbar create */
#toright{
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 10px;
    font-size: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: large;
    justify-content: center;
    
}

a{
   text-decoration: none;
   color: goldenrod;
   font-weight: 700;

}

.navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    color:   goldenrod;
    margin-left: 50px;

}

.navbar li{
    margin-right: 20px;
    
}

/* main section on the homepage */
.hello{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.animate{
    font-size: 60px;
    caret-color: goldenrod;
    border-right: 4px solid goldenrod;
    
    animation: blinking 1s steps(1,end) infinite,
    typing 4s steps(40, end);
    overflow: hidden;
    white-space: nowrap;
}

@keyframes blinking{
    0% { border-color: transparent}
    50% { border-color: goldenrod}
    100% {border-color: transparent}
}

@keyframes typing{
    0% { width: 0}
    100% {width: 100%}
}

.text h2{
    font-size: 50px;
}

/* Find me section */

.find-me{
    display: flex;
    list-style: none;
    justify-content: center;
}


.find-me ul{
    margin-left: 20px;
}

.find-me li{
    border: 1px solid black;
    border-radius: 20px;
    background: rgb(2,0,36);
    font-size: 20px;
    padding: 10px;
    margin-top:60px;
    margin-left: 20px;
}

.flask-image{
    width: 30px;
    height:auto;
}

.desc-container{
    display: flex;
    justify-content: center;
}

#github-color{
    color: #e8eaea;
}

#linkedin-color{
    color:#0077B5;
}

#youtube-color{
    color: rgb(205, 32, 31);
}

/* contact section */

.contact{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 30px;
}

.contact-icon {
    margin-left: 10px;
    margin-top: 0px;
    color: wheat;
    font-size: 50px;
    

}

/* footer */

hr{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}

.copyright-container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

/* about page */
.about-head{
    display: flex;
    justify-content: center;
    font-size: 75px;
}
#yt-link {
    border-bottom: 1px solid goldenrod; 
}

.about-me{
    display: flex;
    justify-content: center;
    margin-left: 10%;

}

#about-para{
    font-size: 20px;
    margin-left: 2%;
    margin-right: 25%;
}


/* Projects Page */

