{% extends 'base.html' %}
{% block titie %} Mckenshel Cameau {% endblock %}

{% block content %}
<!--Intro-->
<section class='hello'>

<div style=" display: inline-block" class="forani">
    <h2 class="animate">Hi I'm Mckenshel, </h2>
</div>
</section>
<!--Find me on-->
<section> 
    <div class="desc-container">
        <p>Computer Science Student located in <i class="fa-solid fa-map-pin"></i> Greater Boston, Ma</p>
    </div>
<div>
    <ul class ="find-me">

        <li ><a href="https://github.com/mcameau06" target="_blank" rel="noopener" id= 'github-color'> <i class="fa-brands fa-github"></i> <span>GitHub</span></a> </li>
        <li><a href="https://www.linkedin.com/in/mcameau20/" target="_blank" rel="noopener" id="linkedin-color"><i class="fa-brands fa-linkedin"></i><span>Linkedin</span></a> </li> 
        <li><a href="https://youtube.com/@chillmath?si=6TPcrJVxlfMweVGV" target="_blank" rel="noopener" id="youtube-color"><i class="fa-brands fa-youtube"></i><span>YouTube</span></a> </li> 
    </ul>
</div>

</section>
<!-- Skills Section-->
<section>
    <!-- will update soon
    <ul>
        <li><i class="fa-brands fa-python"></i> Python </li>
        <li><i class="fa-brands fa-html5"></i>HTML </li>
        <li><i class="fa-brands fa-css3-alt"></i> CSS </li>
        <li> 
            <img src="static/flaskpic.png" alt="'Flask" class="flask-image">
        </li>
    </ul>
</section>
-->
<!--Contact me-->
<section>
    <div class="contact">
        Contact me here --> <a title="email" href="mailto: mcameau20@gmail.com"><i class="fa-solid fa-envelope contact-icon"></i>
        </a>
    </div>
</section>

{% endblock %}